.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    width: 215px;
    height: 188px;
    margin-top: 10vh;
}

#title{
font-family: 'Hubballi';
font-style: normal;
font-weight: 400;
font-size: 2em;
line-height: 53%;
text-align: center;
letter-spacing: 0.05em;
color: #BFA4EB;
}

.button{
margin-top: 30vh;
margin-bottom: 10vh;
background-image: url('./btn_google_signin_light_normal_web@2x.png');
background-repeat: no-repeat;
background-position: center;
background-size:100%;
height: 53px;
width: 220px;
}