#main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-notes{
    display: flex;
    justify-content: center;
    background-color: #604873;
    width:100vw;
    min-height: 8vh;
}
#main-logo{
width: 56px;
height: 60px;
margin-top: 2%;
margin-bottom: 1%;
margin-right: 3%;
}

#main-title{
font-family: 'Montserrat';
font-style: normal;
font-weight: 550;
font-size: 44px;
line-height: 54px;
color: rgba(241, 236, 244, 0.9);
}

#main-section{
display: flex;
flex-direction: column;
align-items: center;
height: 80vh ;
width: 100vw;
}

#new-notes{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 70vw;
    min-width: 200px;
    height: 10vh;
    min-height: 70px;
    background-color: #8e74a2;
    border: thick double black;
}

#new-note-p{
    margin-left: 1vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 24px;
    line-height: 10px;
    color: black;
}

#notes-section{ 
width: 100vw;
height: 90vh;
}

#log-out{
width: 50px;
height: 45px;
border-radius: 100px;
position: absolute;
left: 3vw;
margin-top: 1vh;
margin-bottom: 1vh;
background-image: url('../img/cerrar-sesion11.png');
background-repeat: no-repeat;
background-position: center;
background-size:100%;
}