#main-note-item{
    background-color: #21162F;
}
#note-item{
display: flex;
flex-direction: column;
align-items: center;
}

#note-title{
width: 100vw;
height: 4vh;
margin-top: 3vh;
font-family: 'Hubballi';
font-style: normal;
font-weight: 400;
font-size: 2em;
line-height: 53%;
text-align: center;
letter-spacing: 0.05em;
color: #BFA4EB;
}

#note-body{
width: 100vw;
height: 86vh;
font-family: 'Francois One';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 43px;
text-align: justify;
text-justify: inter-word;
letter-spacing: 0.05em;
color: rgba(231, 221, 248, 0.94);
}

#note-menu{
    width: 100vw;
    height: 10vh;
}

#img-menu{
width: 30px;
height: 30px;
margin-top: 2vh;
margin-left: 94vw;
}